.navbar {
	padding: 0;
	background-color: #303030;
}
@media (min-width: 768px) {
	.navbar-header {
		margin-left: -15px;
	}
	.proj-header {
		margin-left: -40px;
	}
}
.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:hover{
	padding: 10px 0px 10px 15px;
	float: left;
	color: #F0F0F0;
}
.navbar-dark .navbar-toggler {
	margin: 5px 10px;
	border-color: none;
    border-width: 0;
}
.navbar-dark .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(48, 163, 252, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-item {
	padding: 8px 7px;
}
.active {
	background-color: #025BA0;
}
body {
	background-color: #303030;
	color: white;
}
.card {
	background-color: #F0F0F0;
	border: none;
	color: black;
}
.section{
	display: none;
}
.activeSection {
	display: block;
}
hr {
	border-color: #C0C0C0;
}
.btn-primary {
	background-color: #025BA0;
	border-color: #025BA0;
}
#footer {
}
.contactIcon {
	width: 50px;
	height: 50px;
}
.handshake {
	background: url(/handshake.jpg);
}